.container {
  text-align: center;
}
.optionContainer {
  margin-top: 10px;
}
.title {
  margin-top: 50px;
  margin-bottom: 50px;
}
.list {
  text-align: left;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}
.videoContainer {
  position: relative;
  width: 100vw;
  height: auto;
  overflow: hidden;
  background: #333;
}
.screenBlocker {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0%;
  z-index: 4;
  cursor: pointer;
}
.proVideo {
  max-height: 100vh;
  max-width: 100vw;
  width: 100vw;
  pointer-events: none;
}
.proVideo::-webkit-media-controls {
  display: none !important;  
}
.webcamContainer {
  width: 100vw;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.videoControlButtonContainer {
  width: 300px;
  height: 40px;
  display: flex;
  justify-content: center;
  justify-items: center;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}
.videoControl {
  width: 40px;
  height: 30px;
  display: block;
}
.optionBlockLeft {
  text-align: right;
  padding-right: 10px;
}
.optionBlockRight {
  text-align: left;
  padding-left: 10px;
}
.optionsTable {
  margin: 10px;
  width: 100%;
}
.buttonCell {
  text-align: right;
}
.buttonFlip {
  
}
.countDownContainer {
  height: 10px;
  width: 100vw;
  position: absolute;
  bottom: 40px;
  left: 0px;
  border: none;
  overflow: hidden;
  display: none;
}
.countDownContainer[active="1"] {
  display: block;
}
.countDownBar {
  height: 100%;
  width: 100%;
  background: orange;
  transform: translateX(-100%);
}
.controlsContainer {
  height: 40px;
  width: 100vw;
  position: absolute;
  bottom: 0px;
  left: 0px;
  display: flex;
  z-index: 5;
  background-color:rgba(50,50,50,0.5);
}
.controlsPlayButton {
  height: 40px;
  width: 50px;
  border: none;
  margin: 0px 5px;
  color: white;
  background: transparent;
  transition: all 0.2s;
}

.controlsProgressBarContainer {
  height: 100%;
  width: 95%;
  position: relative;
  margin: 0px auto;
}
.controlsProgressBarOutline {
  height: 12px;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 8px;
  border: 1px solid rgb(100, 182, 248);
  opacity: 80%;
  background: transparent;
  cursor: pointer;
  overflow: hidden;
}
.controlsProgressBarProgress {
  height: 100%;
  position: absolute;
  left: 0px;
  bottom: 0px;
  background: rgb(100, 182, 248);
  border: none;
  width: 200px;
}
.speechContainer {
  position: absolute;
  top: 0px;
  left: 0px;
  color: steelblue;
  height: 30px;
  width: 200px;
  text-align: left;
  padding: 5px;
} 

.fadeOutAnimation {
  animation: fadeout 1s forwards;
}

@keyframes fadeout {
  0% {
    opacity: 1.0;
  }
  100% {
    opacity: 0.0;
  }
}

